.login-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;

}
.login-container input{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.login-container button{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #063b5c;
    color: white;
    cursor: pointer;
}
.login-container form{
    width: 25%;
    
    padding: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}